@using Eisk.Helpers
@model string

@{
    var selectList = new SelectList(CountryList.Countries, Model);
}

<div class="col-xs-4">
    @Html.Label("")
    @Html.RequiredSymbol()
    @Html.DropDownList("", selectList, "Choose a country", new { @class = "form-control" })
    @Html.ValidationMessage("")
</div>

