@using Eisk.Models
@model Int32?

<div class="col-xs-4">
    @Html.Label("")
    @Html.RequiredSymbol()
    @Html.DropDownList("", LookUpModelSet.SupervisorSelectList(Model), "Choose a supervisor", new { @class = "form-control" })
    @Html.ValidationMessage("")
</div>