@using System.Web.Optimization
@model Eisk.Models.Employee

<!-- Picture Area -->
@Html.LabelFor(model => model.Photo): @Html.RequiredSymbolFor(model => model.Photo)<br
                                                                                       class="clear"/>
<a href="@Url.Action("EmployeeImageFile", new {id = Model.Id})" target="_blank">
    <img id="employeeImage" alt="employee image" class="profile-image" src="@Url.Action("EmployeeImageFile", new {id = (Model.Id)})"/><br/>
</a>
<label>
    Upload New Image:
</label><br/>
<div id="divUploadPanel">
    <input type="file" id="imageUpload" name="imageUpload" onchange="uploadFile();"/><br/>
    @if (Model.Id != 0 && Model.Photo != null)
    {
        <input type="checkbox" id="removeImage" name="removeImage"/>
        <text>Remove Image</text>
    }
</div>
<div id="divUploadStatus" style="display: none">
    <progress id="progressBar">
    </progress>
    <span id="progressNumber" />
</div>
<a href="#" id="btnCancelUpload" style="display: none">Discard upload</a>
<img id="ajax-loader" src="../../Images/loader-life.gif" style="display: none"/>
<br class="clear"/>
<!-- Picture Area Ends -->


